 @import "_null.scss";
    $main : #333;
    $main2 : yellow;


body {
    background-color: #1A1A1A;
    
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.main {
    flex-grow: 1;
}
._ibg {
    position: relative;
    & img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}
.dishes {
    color: #ffffff;
    position: relative;

		// .dishes__container

		&__container {
            max-width: 1110px;
            margin: 0 auto;
            padding: 0 20px;
		}

		// .dishes__header

		&__header {
		}

		// .dishes__row

		&__row {
            display: flex;
            margin: 0 -15px 30px -15px;
            
		}
		// .dishes__item

		&__item {
            flex: 0 1 33.333%;
            
		}
}
.header-construction {
        position: relative;

		// .header-construction__title

		&__title {
            font-family: 'Helvetica Neue';
            font-size: 100px;
            font-style: normal;
            font-weight: 900;
            line-height: 150px;
            letter-spacing: 0.2em;
            color: rgba(48, 48, 48, 1);
            text-transform: uppercase;
            text-align: center;
            @media(max-width: 440px) {
                font-size: 75px; 
            }
            @media(max-width: 340px) {
                font-size: 65px; 
            }

            &::after {
                content: '';
                display: block;
                width: 60px;
                height: 2px;
                background-color: rgba(52, 199, 89, 1);
                margin: 0 auto 60px auto;
                @media(max-width: 340px) {
                    margin-bottom: 35px; 
                }
            }
            
		}

		// .header-construction__subtitle

		&__subtitle {
            font-family: 'HelveticaNeueCyr';
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: 90px;
            letter-spacing: 0.2em;
            text-align: center;
            color: #D9D9D9;
            position: absolute;
            top: 28px;
            left: 50%;
            text-align: center;
            transform: translate(-50.5%);
            width: 100%;
            @media(max-width: 440px) {
                font-size: 24px; 
            }

		}
}
.dishes {

    // .dishes__row

    &__row {
        display: flex;
        margin: 0 -15px;
        flex: 0 1 auto;
        flex-wrap: wrap;
        row-gap: 30px;
        
    }

    // .dishes__item

    &__item {
        flex: 1 0 33.333%;
        padding: 0 15px;
        min-width: 310px;
        
    }
}
.item-dishes {
    

    // .item-dishes__image
    &__block {
        background-color: #252525;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    &__image {
        padding: 0 0 74.2857% 0;
        margin-bottom: 20px;
    }

    // .item-dishes__body

    &__body {
        padding: 0px 30px 30px 30px;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        
        
        
    }
    &__top {
    }


    // .item-dishes__title

    &__title {
        font-family: 'HelveticaNeueCyr';
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0px;
        text-align: left;
        color: rgba(217, 217, 217, 1);
        margin-bottom: 5px;
        
    }

    // .item-dishes__subtitle

    &__subtitle {
        font-family: 'HelveticaNeueCyr';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: -0.15000000596046448px;
        text-align: left;
        color: rgba(164, 168, 178, 1);
        margin-bottom: 20px;
        
    }

    // .item-dishes__text

    &__text {
        font-family: 'HelveticaNeueCyr';
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.16249999403953552px;
        text-align: left;
        color: rgba(133, 135, 140, 1);
        margin-bottom: 26px;
        flex: 1 1 auto;
        
    }

    // .item-dishes__bottom

    &__bottom {
        display: flex;
        justify-content: space-between;
        
    }

    // .item-dishes__left

    &__left {
        display: flex;
        align-items: center;
        
    }
    &__items {
        display: inline-block;
        position: relative;
        font-size: 20px;
        &::before {
            content: "★★★★★";
            display: block;
            letter-spacing: 5px;
            @media (max-width: 980px) {
                letter-spacing: 3px;
            }
            @media (max-width: 940px) {
                letter-spacing: 5px;
            }
            @media (max-width: 660px) {
                letter-spacing: 3px;
            }
            @media (max-width: 629px) {
                letter-spacing: 5px;
            }
            @media (max-width: 340px) {
                letter-spacing: 3px;
            }
        }

    }

    // .item-dishes__stars

    &__stars {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row-reverse;
        overflow: hidden;
        
    }

    // .item-dishes__number

    &__number {
        font-family: 'Helvetica Neue';
        font-size: 12px;
        font-style: normal;
        font-weight: 900;
        line-height: 30px;
        letter-spacing: 1.5px;
        text-align: left;
        color: rgba(178, 178, 178, 1);
        margin-left: 14px;
        @media (max-width: 1020px) {
            margin-left: 10px;
        }
        @media (max-width: 990px) {
            margin-left: 5px;
        }
        @media (max-width: 629px) {
            margin-left: 15px;
        }
        @media (max-width: 350px) {
            margin-left: 7px;
        }
        @media (max-width: 325px) {
            margin-left: 3px;
        }
        
    }

    // .item-dishes__right

    &__right {

    }

    // .item-dishes__btn

    &__btn {
        
        
    }

    // .item-dishes__link

    &__link {
        transition: 0.2s;
        font-family: 'Helvetica Neue';
        font-size: 10px;
        font-style: normal;
        font-weight: 900;
        line-height: 40px;
        letter-spacing: 0.2em;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        border-radius: 30px;
        padding: 12px 29px;
        border: 2px solid rgba(48, 48, 48, 1);
        text-transform: uppercase;
        &:hover {
            background-color: #34C759;
            color: rgba(37, 37, 37, 1);
        }
    }
}
.item-dishes {

    // .item-dishes__stars

    &__stars {
    }

    // .item-dishes__input

    &__input {
        position: absolute;
        top: 0;
        left: 0;
        height: 0%;
        width: 0%;
        visibility: hidden;
        opacity: 0;
        &:checked,
        &:checked ~ .item-dishes__label {
            color: #F9AD3D;
        }
    }

    // .item-dishes__label

    &__label {
        flex: 0 0 20%;
        height: 100%;
        cursor: pointer;
        color: #4D4D4D;
        &::before {
            content: "★";
            display: block;
            transition: 0.25s;
        }
        &:hover,
        &:hover ~ .item-dishes__label, 
        &:checked ~ .item-dishes__label:hover {
            color: #F9AD3D;
        }
    }
}


    


.works {
    margin-bottom: 70px;

    // .works__container

    &__container {
        max-width: 1110px;
        margin: 0 auto;
    }

    // .works__row

    &__row {
        display: flex;
        padding: 0 20px;
        flex-wrap: wrap;
        flex: 1 1 auto;
        row-gap: 30px;
    }

    // .works__item

    &__item {
    }
}
.dishes {

    // .dishes__header

    &__header {
    }
}
.header-construction {

    // .header-construction__title

    &__title {
    }

    // .header-construction__subtitle

    &__subtitle {
    }
}
.item-works {
    flex: 0 1 25%;
    padding: 0 15px;
    min-width: 230px;
    @media(max-width: 960px) {
        flex: 0 1 33.3333%;
    }
    @media(max-width: 730px) {
        flex: 0 1 50%;
    }
    @media(max-width: 500px) {
        flex: 1 1 auto;
    }
    

    &:hover {
        .item-works__body {
           background-color: rgba(52, 199, 89, 1);
        }
        .item-works__title {
            color: rgba(25, 25, 25, 1);
        }
        .item-works__title::after {
            background-color: rgba(25, 25, 25, 1);
        }
        .item-works__text {
            color: rgba(25, 25, 25, 1);
        }
    }

    // .item-works__body

    &__body {
        transition: 0.25s;
        background-color: rgba(37, 37, 37, 1);
        padding: 24px 24px 40px 24px;
        border-radius: 6px;
    }

    // .item-works__title

    &__title {
        font-family: 'HelveticaNeueCyr';
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.2750000059604645px;
        text-align: left;
        color: rgba(255, 255, 255, 1);
        &::after {
            display: block;
            content: '';
            width: 56px;
            height: 2px;
            background-color: rgba(52, 199, 89, 1);
            margin: 14px 0 24px;
        }

    }

    // .item-works__text

    &__text {
        font-family: 'HelveticaNeueCyr';
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.16249999403953552px;
        text-align: left;
        color: rgba(255, 255, 255, 0.5);
        
    }
}
.frontpage {
    padding: 0 20px 100px 20px;
    background: url(../img/frontpage/placeholder.png) 0 0 / cover no-repeat;
    
    

    // .frontpage__container

    &__container {
        max-width: 1110px;
        margin: 0 auto;
        @media(max-width: 687px) {
            padding-top: 20px;
            
         }
    }

    // .frontpage__header

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 80px;
        flex: 1 1 auto;
        @media(max-width: 960px) {
            margin-bottom: 60px;
        }
        @media(max-width: 725px) {
            margin-bottom: 45px;
        }
        
        
    }
    &__left {
        display: flex;
        flex: 1 1 auto;
        @media(max-width: 687px) {
           justify-content: center;
           
        }
    }

    // .frontpage__headtext

    &__headtext {
        font-family: 'Helvetica Neue';
        color: rgba(52, 199, 89, 1);
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    // .frontpage__menu

    &__menu {
        @media(max-width: 687px) {
            display: none;
        }
        
    }

    // .frontpage__link

    &__link {
        transition: 0.2s;
        font-family: 'Helvetica Neue';
        text-transform: uppercase;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 90px;
        letter-spacing: 0px;
        text-align: left;
        color: rgba(255, 255, 255, 1);
        &:not(:last-child) {
            margin-right: 45px;
        }
        &:hover {
            color: #34C759;
        }

        
        
    }

    // .frontpage__body

    &__body {
    }

    // .frontpage__title

    &__title {
        font-family: 'HelveticaNeueCyr';
        text-transform: capitalize;
        font-size: 72px;
        line-height: 84px;
        letter-spacing: 0.11em;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 16px;
        @media(max-width: 960px) {
            font-size: 60px;
        }
        @media(max-width: 725px) {
            font-size: 45px
        }
        @media(max-width: 500px) {
            font-size: 30px;
            line-height: 54px;
        }
        @media(max-width: 380px) {
            font-size: 24px
        }
        & span {
            font-family: 'Helvetica Neue';
        }
        
    }

    // .frontpage__subtitle

    &__subtitle {
        max-width: 590px;
        margin: 0 auto;
        font-family: 'HelveticaNeueCyr';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.20000000298023224px;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        opacity: 0.7;
        margin-bottom: 40px;
        @media(max-width: 725px) {
            font-size: 14px;
            margin-bottom: 30px;
        }
        
    }

    // .frontpage__button

    &__button {
        text-align: center;
        margin-bottom: 70px;
        @media(max-width: 725px) {
            margin-bottom: 50px;
        }
    }
    &__link-second {
        transition: 0.2s;
        display: inline-block;
        font-family: 'Helvetica Neue';
        font-size: 18px;
        font-style: normal;
        font-weight: bold;
        line-height: 22px;
        letter-spacing: 0.2em;
        text-align: center;
        color: rgba(26, 26, 26, 1);
        border-radius: 30px;
        padding: 25px 50px;
        background-color: #34C759;
        @media(max-width: 725px) {
            padding: 20px 40px;
        }
        &:hover {
            color: rgba(26, 26, 26, 1);
            background-color: #fff;
            transform: translate(0, 3px);
        }
    }

    // .frontpage__footer

    &__footer {
    }

    // .frontpage__item

    &__item {
    }
}
.frontpage {

    // .frontpage__footer

    &__footer {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex: 1 1 auto;
        margin-bottom: 100px;
        @media (max-width: 880px) {
            margin-bottom: 60px;
        }
        @media (max-width: 450px) {
            margin-bottom: 40px;
        }
    }

    // .frontpage__item

    &__item {
        display: flex;
        flex: 1 1 33.333%;
        flex-direction: column;
        min-width: 210px;
    }
}
.item-frontpage {
    

    &__body {
        padding: 5px 10px;
    }

    // .item-frontpage__image

    &__image {
        text-align: center;
        margin-bottom: 16px;
        
    }

    // .item-frontpage__title

    &__title {
        font-family: 'HelveticaNeueCyr';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 5px;
        
    }

    // .item-frontpage__text

    &__text {
        font-family: 'HelveticaNeueCyr';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0px;
        text-align: center;
        opacity: 0.5;
        color: #ffffff;
        
    }
}

.frontpage {

    // .frontpage__switcher

    &__switcher {
        position: relative;
        margin-right: 35px;
    }

    // .frontpage__input

    &__input {
        cursor: pointer;
        top: 0;
        left: 0;
        position: absolute;
        opacity: 0;
        &:checked + .frontpage__label::before {
            background-color: green;
            left: 9px;
        }
        &:checked + .frontpage__label{
            background-color: #f5f5f5;
        }
        
    }

    // .frontpage__label

    &__label {
        transition: 0.2s;
        cursor: pointer;
        display: inline-block;
        position: relative;
        top: 1px;
        left: 0;
        background-color: #34C759;
        width: 25px;
        height: 15px;
        border-radius: 10px;
        &::before {
            top: 0;
            left: 0;
            transition: 0.2s;
            cursor: pointer;
            position: absolute;
            width: 15px;
            height: 15px;
            content: "";
            border-radius: 50%;
            transform: translate(3%, 0);
            background-color: #1a1919;
        }
    }
}
.recipes {

    // .recipes__container

    &__container {
        max-width: 1110px;
        margin: 0 auto;
        padding: 0 20px;
    }

    // .recipes__row

    &__row {
        display: flex;
        row-gap: 30px;
        @media (max-width: 760px) {
            display: block;
           
        }
    }

    // .recipes__column

    &__column {

        // .recipes__column_big

        &_big {
            padding: 0 15px;
            @media (max-width: 760px) {
                padding: 0;
                margin-bottom: 15px;
            }
        }
    }
}
.big-column {
    flex: 1 0 50%;
    background:  url(../img/recipes/image1.png) 0 0 / cover no-repeat;
    border-radius: 6px;
    @media (max-width: 700px) {
        
    }
    


    // .big-column__body

    &__body {
        padding: 60px 90px;
        text-align: center;
        z-index: 1;
        @media (max-width: 792px) {
            padding: 45px 30px 0 30px;
        }
        @media (max-width: 760px) {
            padding: 15px;
        }
    }

    // .big-column__title

    &__title {
        display: inline-block;
        text-align: center;
        font-family: 'Helvetica Neue';
        font-size: 10px;
        font-style: normal;
        font-weight: 900;
        line-height: 25px;
        letter-spacing: 1.25px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 2px 16px;
        border-radius: 5px;
        margin-bottom: 70px;
        
    }

    // .big-column__subtitle

    &__subtitle {
        font-family: 'HelveticaNeueCyr';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0px;
        color: #ffffff;
        margin-bottom: 30px;
        
    }

    // .big-column__text

    &__text {
        font-family: 'HelveticaNeueCyr';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: center;
        max-width: 411px;
        color: #ffffff;
        margin-bottom: 50px;
        @media (max-width: 760px) {
            max-width: none;
        }
        
    }

    // .big-column__subtext

    &__subtext {
        font-family: 'HelveticaNeueCyr';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0px;
        color: #ffffff;
        margin-bottom: 60px;
        
    }

    // .big-column__images

    &__images {
        display: flex;
        column-gap: 24px;
        justify-content: center;
        & span {
            color: #ffffff;
            font-family: 'HelveticaNeueCyr';
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0px;
            
        }
    }

    // .big-column__small-first
    &__small-first {
        display: flex;
        align-items: center;
    }
    &__small-second {
        display: flex;
        align-items: center;
    }

    &__small-first img {
        margin-right: 10px;
    }

    // .big-column__small-second

    &__small-second img {
        margin-right: 10px;
    }
}
.recipes {

    // .recipes__column

    &__column {

        // .recipes__column_big

        &_big {
        }
    }
}
.small-column {
    display: flex;
    flex-direction: column;
    margin: -15px 0;
   

    // .small-column__item

    &__item {
        flex: 0 1 33.3333%;
        padding: 15px 0;
        
    }
}
.item-small {
    &__background {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: #252525;
        border-radius: 6px;
        padding: 30px 26px 25px 30px;
    }

    // .item-small__text

    &__text {
        font-family: 'HelveticaNeueCyr';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0px;
        text-align: left;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 10px;
        
    }

    // .item-small__footer

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: auto;
        @media (max-width: 380px) {
            display: block;
        }
    }

    // .item-small__left

    &__left {
        display: flex;
        @media (max-width: 760px) {
            margin-bottom: 14px;
            align-items: center;
        }
        
    }

    // .item-small__patern

    &__patern {
        display: inline-block;
        text-align: center;
        font-family: 'Helvetica Neue';
        font-size: 10px;
        font-style: normal;
        font-weight: 900;
        line-height: 25px;
        letter-spacing: 1.25px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 2px 16px;
        border-radius: 5px;
        
    }

    // .item-small__subpatern

    &__subpatern {
        font-family: Helvetica Neue;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: left;
        color: #B3B3B3;
        align-self: center;
        margin-left: 15px;
        
    }

    // .item-small__right

    &__right {
        display: flex;
        align-self: center;
        @media (max-width: 760px) {
            margin-bottom: 14px;
        }
        
    }

    // .item-small__images

    &__images {
        display: flex;
        align-items: center;
        column-gap: 24px;
        
        & span {
            color: #ffffff;
            font-family: 'HelveticaNeueCyr';
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0px;
        }
    }

    // .item-small__small-first

    &__small-first {
        display: flex;
        align-items: center;
    }

    // .item-small__small-second

    &__small-second {
        display: flex;
        align-items: center;
    }
    &__small-first img {
        margin-right: 10px;
    }

    // .big-column__small-second

    &__small-second img {
        margin-right: 10px;
    }
}

.item-small_pict {
    background: url(../img/recipes/image2.png) 0 0 / cover no-repeat;
}
.item-small__background_clean {
    background: none;
}